/* =================== */
/* Mobile */
/* =================== */
@media (min-width:600px) {
    #About {
        color: white;
        text-align: center;
    }
    #Experience {
        color: white;
    }
    #Skills {
        color: white;
    }
    #Projects {
        color: white; 
    }
    #Connect {
        color: blue;
    }
}

/* Body */
body {
    background-color: lightpink;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
}

header nav ul{
    display: flex; 
    justify-content: center;
    list-style-type: none; 
    gap: 20px;
}

h1 { 
    text-align: center;
    font-size: 25px;
    color: purple;
    border: groove black 6px;
}

section {
    margin: 10px 15px 10px 15px;
    padding: 15px 10px 15px 10px;
    border: double black 5px;
}

h2 {
    text-align: left;
    font-size: 20px;
    color: black;
}

#About {
    text-align: center;
    background-color: lightblue;
}

#Experience {
    background-color: lightskyblue;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* #Experience li {
    list-style-type: none;
    padding: 0px;
    margin: 10px 15px 10px 15px;
}  */

#Skills {
    background-color: lightblue;
}

#Projects {
    background-color: lightskyblue;
}

#Connect {
    background-color:lightblue;
}

#Connect ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#Connect a {
    color: blueviolet;
} 

/* =================== */ 
/* Tablet */
/* =================== */
@media (min-width: 768px) {
    h2 {
        color: purple;
        background-color: lightpink;
    }
}

/* =================== */ 
/* Desktop */ 
/* =================== */
@media (min-width:1024px) {
    h2 {
        font-size: 30px;
        color: blue;
    }
}
